name: Build and Deploy
on: [push]
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npx -y honkit build
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _book
